.contact {
  height: 25%;
  display: none;
}
.first {
  display: flex;
  background-color: rgb(29, 141, 70);
}
.first header {
  font-size: 20px;
  font-weight: bold;
  flex: 1;
  padding: 20px;
  color: white;
}
button {
  background: transparent;
  border: none;
  color: white;
  font-size: 25px;
  cursor: pointer;
}
.search,
#settings {
  margin: 15px;
}
